/* Write your CSS here */
* {
  font-family: Roboto;
}
.cowin-container {
  background-color: #161625;
  height: 100%;
  background-size: cover;
  padding: 30px;
}

.website-con-heading {
  display: flex;
  align-items: center;
}

.cowin-heading {
  margin-left: 15px;
  color: #64c2a6;
  font-size: 24px;
}

.cowin-para {
  color: #cbd5e1;
  font-size: 26px;
}

.loading-con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
